.wrapper {
    max-width: 350px;
    padding: 1rem;
    margin: 1rem;
    background: rgb(39, 44, 49);
    color: #fff;
    border-radius: 0.5rem;
    border: 1px solid rgb(25, 206, 219);
    box-shadow: 0 5px 9px rgba(218, 103, 103, 0.1); /* Elevação */
    transition: box-shadow 0.3s ease; /* Suaviza a transição */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 2s infinite;
}

.wrapper:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Efeito de hover */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row div {
    flex: 1;
}

